/* --------------------- Axe Results and Documentation CSS ------------------------------------------
#
#	Copyright:	(c)Copyright 2004-2006 Odin Technology Ltd. All Rights Reserved.
#	Version:	v1.5
#	Contact:	www.odin.co.uk
#
# --------------------------------------------------------------------------------------------------- */
body.main
{
	font-family: Arial;
	background: white;
}
p.copyright
{
	
	font-family: Arial;
	font-size: xx-small;
	text-align:  center;	
}

/* -- DIV Panels -- */

div.mainheading
{
	color: #000066;
	font-family: Arial;
	font-size: large;
	font-weight:bold;
	background: #CCCCFF;
	border: solid 1px;
	border-color:Black;
	padding: 4px;
}
div.panelheading
{
	color: #000066;
	font-family: Arial;
	font-size: medium;
	font-weight:bold;
	background: #CCCCFF;
	border: solid 1px;
	border-color:Black;
	padding: 4px;
}
div.expandableheading
{
	background: #CCCCFF;
	border: solid 1px;
	border-color:Black;
}
div.subpanel
{
	color: #000066;
	font-family: Arial;
	font-size: large;
	background: #CCCCCC;
	border: solid 1px;
	border-color:Black;
	padding: 4px;
	
}
div.resultspanel
{
	color: #000066;
	font-family: Arial;
	font-size: large;
	background: #CCCCCC;
	border: solid 1px;
	border-color:Black;
}

/* -- Tables -- */

table.summary
{
	border-collapse: collapse;
	border: 0; 	
}
table.resultsheading
{
	border: 0; 
}
table.results
{
	border-collapse: collapse;
	border: 0; 
}
table.buttons
{
	border: 0; 
}

/* -- Table Rows -- */

tr.heading
{
	font-family:Arial;
	font-size:smaller;
	font-weight:bold;
	color: #000066;
	background:#9999CC;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
}

@media screen
{
	td.value,
	td.valuelink,
	td.valueHyperlink,
	td.valuepassclick,
	td.valuepass,
	td.valuefail,
	td.valuefailprereq,
	td.valuenotrun,
	td.valuefailclick,
	td.valuefailprereqclick,
	td.message,
	th.rowlabel,
	th.vrowlabel,
	th.spanninglabel,
	th.heading
	{
		border: solid 1px #CCCCCC;
	}
}
@media print
{
	td.value,
	td.valuelink,
	td.valueHyperlink,
	td.valuepassclick,
	td.valuepass,
	td.valuefail,
	td.valuefailprereq,
	td.valuenotrun,
	td.valuefailclick,
	td.valuefailprereqclick,
	td.message,
	th.rowlabel,
	th.vrowlabel,
	th.spanninglabel,
	th.heading
	{
		border: solid 1px Black;
	}
}

/* -- Table Headers -- */
th.heading
{
	font-family:Arial;
	font-size: small;
	font-weight:bold;
	color: #000066;
	background:#9999CC;
	padding-left: 4px;
	padding-right: 8px;
	text-align:left;
}
th.rowlabel
{
	font-family:Arial;
	font-size:smaller;
	font-weight:bold;
	color:#000066;
	background:#E3E3E3;
	padding-left: 8px;
	padding-right: 8px;
	text-align:right;
}
th.vrowlabel
{
	font-family:Arial;
	font-size:smaller;
	font-weight:bold;
	color:#000066;
	background:#9999CC;
	padding-left: 8px;
	padding-right: 8px;
	text-align:right;
}
th.spanninglabel
{
	font-family:Arial;
	font-size:smaller;
	font-weight:bold;
	color:#000066;
	background:#9999CC;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
}

/* -- Table Cells -- */

td.expandabletitle
{
	color: #000066;
	font-family: Arial;
	font-size: small;
	font-weight:bold;
}
td.value
{
	font-family:Arial;
	font-size:smaller;
	color:black;
	background:white;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
}

td.valuelink
{
	font-family:Arial;
	font-size:smaller;
	color:black;
	background:white;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
	cursor:pointer;
}
td.valueHyperlink
{
	font-family:Arial;
	font-size:smaller;
	text-decoration:underline;
	color:blue;
	background:white;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
	cursor:pointer;
}
td.valuepassclick
{
	font-family:Arial;
	font-size:smaller;
	font-weight: bold;
	color:black;
	background:#99FF99;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
	cursor:pointer;
}
td.valuepass
{
	font-family:Arial;
	font-size:smaller;
	font-weight: bold;
	color:black;
	background:#99FF99;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
}
td.valuefail
{
	font-family:Arial;
	font-size:smaller;
	font-weight: bold;
	color:black;
	background:#FF6666;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
}
td.valuefailprereq
{
	font-family:Arial;
	font-size:smaller;
	font-weight: bold;
	color:black;
	background:#FFFFA8;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
}
td.valuenotrun
{
	font-family:Arial;
	font-size:smaller;
	font-weight: bold;
	color:black;
	background:#E3E3E3;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
}
td.valuefailclick
{
	font-family:Arial;
	font-size:smaller;
	font-weight: bold;
	color:black;
	background:#FF6666;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
	cursor:pointer;
}
td.valuefailprereqclick
{
	font-family:Arial;
	font-size:smaller;
	font-weight: bold;
	color:black;
	background:#FFFFA8;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
	cursor:pointer;
}
td.message
{
	font-family:Arial;
	font-size:smaller;
	color:black;
	background:#D3D3D3;
	padding-left: 8px;
	padding-right: 8px;
	text-align:left;
}

/* -- Buttons -- */

td.button
{
	background: #D3D3D3;
	font-size:smaller;
	font-family: arial;
	border: solid 1px black;
	text-align:center;
	padding-left: 3px;
	padding-right: 3px;
	cursor:pointer;
}
td.expbutton
{
	background: #D3D3D3;
	font-size:smaller;
	font-family: arial;
	border: solid 1px black;
	text-align:center;
	padding-left: 3px;
	padding-right: 3px;
	cursor:pointer;
	width: 12px;
}

/* ----------------------------------------------- Documentation --------------------------------------------*/

p.heading1
{
	font-family: Arial;
	font-size: large;
	font-weight:bold;	
}
p.heading2
{
	font-family: Arial;
	font-size: larger;
	font-weight:bold;	
	font-style:italic;
}
table.docsteps
{
	border-collapse: collapse;
}
th.docheading
{
	font-family:Arial;
	font-size:smaller;
	font-weight:bold;
	color:black;
	background:#9999CC;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
	border: solid 1px Black;
	text-align:left;
	vertical-align: text-top;
}
td.docvalue
{
	font-family:Arial;
	font-size:smaller;
	color:black;
	background:white;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
	border: solid 1px Black;
	text-align:left;
	vertical-align: text-top;
}
td.docvaluelink
{
	font-family:Arial;
	font-size:smaller;
	text-decoration:underline;
	color:blue;
	background:white;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
	border: solid 1px Black;
	text-align: left;
	vertical-align: text-top;
	cursor:pointer;
}
td.docvaluefirst
{
	font-family: Arial;
	font-size: smaller;
	color: black;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
	border: solid 1px Black;
	text-align: left;
	vertical-align: text-top;
}
td.docvaluefirstsub
{
	font-family: Arial;
	font-size: smaller;
	font-weight: bold;
	color: black;
	background: #CCCCCC;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
	border: solid 1px Black;
	text-align: left;
	vertical-align: text-top;
}
td.docsub
{
	font-family:Arial;
	font-size: smaller;
	font-weight: bold;
	color:black;
	background:#CCCCCC;
	padding-left: 8px;
	padding-right: 8px;
	border: solid 1px Black;
	text-align:left;
}

@media print
{
	div.notprinted
	{
		visibility: hidden;
	}
	div.button
	{
		visibility: hidden;
	}	
	span.hyperlink
	{
		visibility: hidden;
	}
}
@media screen
{
	div.notprinted
	{
		visibility: inherit;
	}
	div.button
	{
		visibility: inherit;
	}
	span.hyperlink
	{
		font-family:Arial;
		font-size:smaller;
		text-decoration:underline;
		color:blue;
		cursor:pointer;
		visibility: inherit;
	}
}
